body
{
     background-color: rgba(5, 5, 41, 0.863);
 }

*{box-sizing: border-box;} 

h1{
    background-color: slateblue;
    text-align: center;
} 

section{
    position: relative;
    margin:0.5%;
    border-color: black;
    border-style:hidden;
    border-width: 1px;
}

#sec1{
background-color: rgb(173, 168, 221);
margin-bottom: 1%;
margin-right: 1%;
}

#sec2{
    background-color: rgba(144, 144, 207, 0.863);    
    margin-bottom: 1%; 
    margin-right: 1%  
}

#sec3{
    background-color: rgb(101, 88, 209);
    margin-bottom: 1%;  
    margin-right: 1%
}  
    
h3{ width: 200px;
    background-color: royalblue;
    position: absolute;
    right:0px;
    text-align: center;
    margin: 0%;
}

p{
    margin: 1.5em 0% 0% 0%;
}

@media(min-width:992px){ 
    #sec1{width:31.5%;float: left;} 
    #sec2{width:31.5%;float: left;} 
    #sec3{width:31.5%;float: left;}    
}
@media(min-width:768px )and (max-width: 991px){
    #sec1{width:48%;float: left;} 
    #sec2{width:48%;float: left;} 
    #sec3{width:97.5%;float: left;}   
   
}
@media(max-width:767px){
    #sec1{width:100%;float: left;} 
    #sec2{width:100%;float: left;} 
    #sec3{width:100%;float: left;}
}